apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: dailyfix
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 281627750861.dkr.ecr.ap-south-1.amazonaws.com/backend:latest
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: backend-secrets
