---
- name: Update system packages
  dnf:
    name: "*"
    state: latest
    update_cache: yes

- name: Remove curl-minimal (Amazon Linux 2023 fix)
  dnf:
    name: curl-minimal
    state: absent

- name: Install basic packages
  dnf:
    name:
      - curl
      - git
      - unzip
      - yum-utils
    state: present
