---
- name: Update system packages
  dnf:
    name: "*"
    state: latest

- name: Remove curl-minimal (Amazon Linux 2023 fix)
  dnf:
    name: curl-minimal
    state: absent

- name: Install basic packages
  dnf:
    name:
      - git
      - curl
      - unzip
    state: present
